# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [8]:
data = {'國家': ['taiwan','japan','china','vietnam','india','korea'],
        '人口': np.random.randint(10000, size=6)}
data = pd.DataFrame(data)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   國家      6 non-null      object
 1   人口      6 non-null      int32
dtypes: int32(1), object(1)
memory usage: 200.0+ bytes

In [10]:
data.head()

        國家    人口
0   taiwan  9172
1    japan  5835
2    china  3564
3  vietnam  8091
4    india  8729

In [34]:
data.loc[data['人口'] == data['人口'].max()]

       國家    人口
0  taiwan  9172